extends ../layouts/Main

block scripts
    script(src="ImportController.js")
    script(src="ImportService.js")

block content
    div(ng-controller="ImportController")
        lx-tabs(links-tc="light", links-bgc="teal-500", indicator="yellow-500", no-divider="true", z-depth="1", layout="inline")
            lx-tab(heading="นำเข้าข้อมูลเวชภัณฑ์")

                .card
                    .card__content
                        div#progress
                        button.btn.btn--l.btn--red.btn--raised(lx-ripple, ng-click="getProducts()", ng-hide="isSuccess") {{ btnMsg }}
                        .fs-title(ng-show="isSuccess") 
                            i.icon.icon--l.icon--green.icon--flat.mdi.mdi--done 
                            | &nbsp;รายการยาที่ถูกนำเข้าแล้ว
      
                        .data-table-container(ng-show="isSuccess")
                            table.data-table.data-table--has-secondary
                                thead
                                    tr
                                        th #
                                        th รหัส
                                        th รายการ
                                        //- th หน่วย
                                        th ทุน
                                        th ขาย

                                tbody
                                    tr.data-table__clickable-row(ng-repeat="p in products")
                                        td {{ $index+1 }}
                                        td {{ p.code }}
                                        td {{ p.name }}
                                        //- td {{ p.units }}
                                        td {{ p.cost | number }}
                                        td {{ p.price | number }}

            lx-tab(heading="นำเข้าเวชภ้ณฑ์จากใบเบิก")
                p xxxxxxx
