extends ../layouts/Main

block scripts
    script(src="ImportController.js")
    script(src="ImportService.js")

block content
    div(ng-controller="ImportController")
        lx-tabs(links-tc="light", links-bgc="teal-500", indicator="yellow-500", no-divider="true", z-depth="1", layout="inline")
            lx-tab(heading="ข้อมูลยา (จากคลังหลัก)")

                .card
                    .card__content
                        div#progress
                        br
                        button.btn.btn--l.btn--teal.btn--raised(lx-ripple, ng-click="showProgress()") {{ btnMsg }}
                        br
                        .data-table-container(ng-show="isSuccess")
                            table.data-table.data-table--has-secondary
                                thead
                                    tr
                                        th #
                                        th รหัส
                                        th รายการ
                                        th หน่วย
                                        th ทุน
                                        th ขาย
                                        th รหัสมาตรฐาน
                                        th

                                tbody
                                    tr.data-table__clickable-row
                                        td(colspan="8") ...

            lx-tab(heading="ปปปปป")
                p xxxxxxx
