extends ../layouts/Main

block scripts
    script(src="SettingController.js")
    script(src="SettingService.js")

block content
    //- .fs-headline
    //-     i.icon.icon--l.icon--circled.icon--green.mdi.mdi--settings
    //-     |&nbsp;Settings
    //- br
    div(ng-controller="SettingController")
        lx-tabs(layout="inline", links-tc="light", links-bgc="teal-500", indicator="yellow-500", no-divider="true", z-depth="1")
            lx-tab(heading="ข้อมูลทั่วไป")
                br
                //- .fs-subhead
                //-     i.mdi.mdi--forum
                //-     | &nbsp;ข้อมูลหน่วยบริการ
                form(name="frmOffice")
                    .grid
                        .grid__col3
                            lx-text-field(label="รหัส", fixed-label="false", icon="desktop-mac")
                                input(type="text", ng-model="hospcode", ng-required="true")
                        .grid__col9
                            lx-text-field(label="ชื่อหน่วยบริการ", fixed-label="false")
                                input(type="text", ng-model="hospname", ng-required="true")
                    .grid
                        .grid__col12
                            lx-text-field(label="ที่อยู่", fixed-label="false", icon="home")
                                input(type="text", ng-model="address", ng-required="true")
                    .grid
                        .grid__col4
                            br
                            button.btn.btn--raised.btn--l.btn--green(lx-ripple, ng-click="doSaveOffice()", ng-disabled="frmOffice.$invalid")
                                //- i.mdi.mdi--save
                                | Save
            lx-tab(heading="เจ้าหน้าที่รับผิดชอบ")
                .data-table-container
                    table.data-table.data-table--has-secondary.data-table--has-primary
                        thead
                            tr
                                th
                                th ชื่อ - สกุล
                                th ตำแหน่ง
                                th
                        tbody
                            tr(ng-repeat="t in staff").data-table__clickable-row
                                td
                                    i.icon.icon--l.icon--green.icon--flat.mdi.mdi--person(ng-if="t.is_active == 'Y'")
                                    i.icon.icon--l.icon--red.icon--flat.mdi.mdi--person(ng-if="t.is_active == 'N'")
                                td {{t.fullname}}
                                td {{t.position}}
                                td
                                    lx-dropdown(position="right", from-top)
                                        button(lx-ripple, lx-dropdown-toggle).btn.btn--l.btn--black.btn--icon
                                            i.mdi.mdi--more-vert

                                        lx-dropdown-menu
                                            ul
                                                li
                                                    a(ng-click="showEditStaff(t.staff_id, t.fullname, t.position, t.is_active)").dropdown-link แก้ไข
                                                li
                                                    a(ng-click="doRemoveStaff(t.staff_id)").dropdown-link ลบรายการ

                .grid
                    .grid__col11
                        | &nbsp;
                    .grid__col1
                        br
                        button(lx-ripple, ng-click="showNewStaff()").btn.btn--l.btn--red.btn--fab
                            i.mdi.mdi--person-add

            lx-tab(heading="คลังย่อย")
                .data-table-container
                    table.data-table.data-table--has-secondary.data-table--has-primary
                        thead
                            tr
                                th
                                th ชื่อคลังย่อย
                                th
                        tbody
                            tr(ng-repeat="s in stocks").data-table__clickable-row
                                td
                                    i.icon.icon--l.icon--green.icon--flat.mdi.mdi--folder-open(ng-if="s.is_active == 'Y'")
                                    i.icon.icon--l.icon--red.icon--flat.mdi.mdi--folder-open(ng-if="s.is_active == 'N'")
                                td {{s.name}}
                                td
                                    lx-dropdown(position="right", from-top)
                                        button(lx-ripple, lx-dropdown-toggle).btn.btn--l.btn--black.btn--icon
                                            i.mdi.mdi--more-vert

                                        lx-dropdown-menu
                                            ul
                                                li
                                                    a(ng-click="showEditStock(s.sub_stock_id, s.name, s.is_active)").dropdown-link แก้ไข
                                                li
                                                    a(ng-click="doRemoveStock(s.sub_stock_id)").dropdown-link ลบรายการ

                .grid
                    .grid__col11
                        | &nbsp;
                    .grid__col1
                        br
                        button(lx-ripple, ng-click="showNewStock()").btn.btn--l.btn--red.btn--fab
                            i.mdi.mdi--add


        lx-dialog#mdlNewStaff(onclose="closingAddStaff()").dialog.dialog--l
            form(name="frmNewStaff")
                .dialog__header
                    .toolbar.bgc-teal-500
                        span.toolbar__label.tc-white.fs-headline
                            | เพิ่ม/แก้ไขข้อมูลเจ้าหน้าที่
                        .toolbar__right
                            button.btn.btn--l.btn--white.btn--icon(lx-ripple, lx-dialog-close)
                                i.mdi.mdi--clear
                .dialog__content
                    .card
                        .card__content
                            .grid.mt
                                .grid__col6
                                    lx-text-field(label="ชื่อ - สกุล")
                                        input(type="text", ng-model="fullname", ng-required="true")
                                .grid__col6
                                    lx-text-field(label="ตำแหน่ง")
                                        input(type="text", ng-model="position", ng-required="true")
                            .grid.mt
                                .switch.mt
                                    input#txtStaffIsActive(type="checkbox", ng-model="isActive", ng-checked="isActive").switch__input
                                    label(for="txtStaffIsActive").switch__label เปิดใช้งาน
                                    span.switch__help ทำให้ปรากฎชื่อในรายการผู้ขอเบิก

                .dialog__actions
                    button.btn.btn--l.btn--green.btn--raised(ng-click="doSaveStaff()", ng-disabled="frmNewStaff.$invalid", lx-ripple)
                        | Save
                    | &nbsp;
                    button.btn.btn--l.btn--red.btn--raised(lx-ripple, lx-dialog-close)
                        | Close


        lx-dialog#mdlNewSubStock(onclose="closingAddSubStock()").dialog.dialog--m
            form(name="frmNewSubStock")
                .dialog__header
                    .toolbar.bgc-teal-500
                        span.toolbar__label.tc-white.fs-headline
                            | เพิ่ม/แก้ไขข้อมูลสต๊อกย่อย
                        .toolbar__right
                            button.btn.btn--l.btn--white.btn--icon(lx-ripple, lx-dialog-close)
                                i.mdi.mdi--clear
                .dialog__content
                    .card
                        .card__content
                            .grid.mt
                                .grid__col6
                                    lx-text-field(label="ชื่อสต๊อก")
                                        input(type="text", ng-model="stockName", ng-required="true")
                            .grid.mt
                                .switch.mt
                                    input#txtStockIsActive(type="checkbox", ng-model="isStockActive", ng-checked="isStockActive").switch__input
                                    label(for="txtStockIsActive").switch__label เปิดใช้งาน

                .dialog__actions
                    button.btn.btn--l.btn--green.btn--raised(ng-click="doSaveStock()", ng-disabled="frmNewSubStock.$invalid", lx-ripple)
                        | Save
                    | &nbsp;
                    button.btn.btn--l.btn--red.btn--raised(lx-ripple, lx-dialog-close)
                        | Close
