.fs-headline
    i.icon.icon--l.icon--circled.icon--green.mdi.mdi-shopping
    | &nbsp; รายการเบิกจากคลังหลัก

div(flex-container="row", flex-gutter="24")
    div(flex-item="8")
        lx-text-field(label="ค้นหา", fixed-label="true", icon="magnify")
            input(type="text", ng-model="query")
    div(flex-item="2")
        button(ng-click="all()").btn.btn--blue.btn--l.btn--raised แสดงทั้งหมด
    div(flex-item="2")
        div.switch(class="mt+")
            input(type="checkbox", checked, ng-click="toggleStatus()")#swStatus.switch__input
            label(for="swStatus").switch__label อนุมัติแล้ว
            span.switch__help สถานะอนุมัติ

.data-table-container
    table.data-table.data-table--has-secondary
        thead
            tr
                th #
                th วันที่
                th เลขที่เอกสาร
                th จำนวน
                th ราคา
                th อนุมัติ
                th เจ้าหน้าที่
                th
            tr
                td(colspan="8").divider.divider--dark

        tbody
            tr(ng-repeat="o in orders | filter: query").data-table__clickable-row
                td {{ $index+1 }}
                td {{ o.orders_date | toShortDate }}
                td {{ o.orders_code }}
                td {{ o.totalQty | number }}
                td {{ o.totalPrice | number }}
                td
                    i.mdi.mdi-check.icon.icon--s.icon--green.icon--flat(ng-if="o.orders_status == 'Y'")
                    i.mdi.mdi-checkbox-blank-outline.icon.icon--s.icon--grey.icon--flat(ng-if="o.orders_status == 'N'")
                td {{ o.user_fullname }}
                td
                    lx-dropdown(position="right", from-top)
                        button(lx-dropdown-toggle).btn.btn--l.btn--icon.btn--grey
                            i.mdi.mdi-dots-vertical

                        lx-dropdown-menu
                            ul
                                li(ng-if="o.orders_status=='N'")
                                    a(href="#/edit/{{o.id}}").dropdown-link
                                        i.mdi.mdi-pencil
                                        | &nbsp; แก้ไขข้อมูล
                                li(ng-if="o.orders_status=='N'")
                                    a(ng-click="remove(o.id)").dropdown-link
                                        i.mdi.mdi-recycle
                                        | &nbsp; ลบใบสั่ง
                                li(ng-if="o.orders_status=='Y'")
                                    a.dropdown-link
                                        i.mdi.mdi-block-helper
                                        | &nbsp; ไม่สามารถดำเนินการได้

    br
    div(flex-container="row")
        div(flex-item="11")
            | &nbsp;
        div(flex-item="1")
            a(href="#/new", lx-ripple).btn.btn--l.btn--red.btn--fab
                i.mdi.mdi-plus

lx-dialog.dialog.dialog--l#mdlNew(onclose="closingDialog()")
    .dialog__header
        .toolbar.bgc-light-blue-500
            span.toolbar__label.tc-white.fs-title
                | เพิ่มรายการเวชภัณฑ์
            .toolbar__right
                button.btn.btn--l.btn--white.btn--icon(lx-ripple, lx-dialog-close)
                    i.mdi.mdi-close

    .dialog__content
        .card
            div(class="p+")
                div(flex-container="row", flex-gutter="24", class="mt++")
                    div(flex-item)
                        lx-text-field(label="...", fixed-label="true", icon="magnify")
                            input(type="text", ng-model="query")

                .data-data-table-container
                    table.data-table.data-data-table--has-secondary
                        thead
                            tr
                                th รหัส
                                th รายการ
                                th หน่วย
                                th ราคา
                                th
                            tr
                                td(colspan="5").divider.divider--dark
                        tbody
                            tr(ng-repeat="p in products | filter: query")
                                td {{p.code}}
                                td {{p.name}}
                                td {{p.units}}
                                td {{p.cost | currency}}
                                td
                                    button.btn.btn--m.btn--flat.btn--green(lx-ripple, ng-click="addItem(p.code)", ng-disabled="p.added == 'Y'") Add


    .dialog__actions
        button.btn.btn--m.btn--red.btn--raised(lx-ripple, lx-dialog-close) Close
