extends ../../layouts/Client

block scripts
    script(src="Orders.js")
    script(src="OrdersMainController.js")
    script(src="OrdersMainService.js")
    script(src="OrdersNewController.js")
    script(src="OrdersNewService.js")
    script(src="OrdersEditController.js")
    script(src="OrdersEditService.js")

block content
    div(ng-view)
