extends ../layouts/Login

block scripts
    script(src="ConnectionController.js")

block content
    .fs-display-1
        i.icon.icon--green.icon--circled.icon--l.mdi.mdi-settings
        | &nbsp;Connection setting
    br
    form(name="frmConnection", ng-controller="ConnectionController")
        .fs-title
            i.mdi.mdi-desktop-mac
            | &nbsp;Stock Database information
        div(flex-container="row", flex-gutter="24")
            div(flex-item="6")
                lx-text-field(label="Server address")
                    input(type="text", ng-model="config.db.host", ng-required="true")
            div(flex-item="2")
                lx-text-field(label="Port")
                    input(type="number", ng-model="config.db.port", ng-required="true")
            div(flex-item="4")
                lx-text-field(label="Database name")
                    input(type="text", ng-model="config.db.database", ng-required="true")
        div(flex-container="row", flex-gutter="24")
            div(flex-item="6")
                lx-text-field(label="Username")
                    input(type="text", ng-model="config.db.user", ng-required="true")
            div(flex-item="6")
                lx-text-field(label="Password")
                    input(type="password", ng-model="config.db.password", ng-required="true")
        br
        .fs-title
            i.mdi.mdi-desktop-mac
            | &nbsp;HIS Database information
        div(flex-container="row", flex-gutter="24")
            div(flex-item="6")
                lx-text-field(label="Server address")
                    input(type="text", ng-model="config.hos.host", ng-required="true")
            div(flex-item="2")
                lx-text-field(label="Port")
                    input(type="number", ng-model="config.hos.port", ng-required="true")
            div(flex-item="4")
                lx-text-field(label="Database name")
                    input(type="text", ng-model="config.hos.database", ng-required="true")
        div(flex-container="row", flex-gutter="24")
            div(flex-item="6")
                lx-text-field(label="Username")
                    input(type="text", ng-model="config.hos.user", ng-required="true")
            div(flex-item="6")
                lx-text-field(label="Password")
                    input(type="password", ng-model="config.hos.password", ng-required="true")

        .fs-title
            i.mdi.mdi-cloud-upload
            | &nbsp;Datacenter information
        div(flex-container="row", flex-gutter="24")
            div(flex-item="2")
                lx-text-field(label="Hospcode")
                    input(type="text", ng-model="config.dc.hospcode", ng-required="true")
            div(flex-item="5")
                lx-text-field(label="Datacenter url")
                    input(type="text", ng-model="config.dc.url", ng-required="true")
        
            div(flex-item="5")
                lx-text-field(label="Private key")
                    input(type="text", ng-model="config.dc.private_key", ng-required="true")
                        
        div(flex-container="row")
            div(flex-item="4")
                br
                button(ng-disabled="frmConnection.$invalid", ng-click="doSaveConnection()").btn.btn--l.btn--green.btn--raised
                    | Save
                | &nbsp;
                a(href="../login/Login.html").btn.btn--l.btn--red.btn--raised
                    | เข้าสู่ระบบใหม่
                    
