extends ../../layouts/Client

block scripts
    script(src="Products.js")
    script(src="MainController.js")
    script(src="MainService.js")
    script(src="StockCardController.js")
    script(src="StockCardService.js")

block content
    div(ng-view)