doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title eStock (Drug inventory system for PCU) [Client]

        link(href="../../../vendor/lumx/dist/lumx.css", rel="stylesheet")
        link(href="../../../vendor/mdi/css/materialdesignicons.css", rel="stylesheet")
        link(href="../../css/app.css", rel="stylesheet")
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700")

    body(ng-app="App")

        .toolbar.bgc-blue-grey-500(ng-controller="ToolbarController")
            .toolbar__left.mr
                button.btn.btn--l.btn--white.btn--icon(lx-ripple)
                    i.mdi.mdi-shopping
            span(style="color: #fff;").toolbar__label.fs-title
                | Drug inventory system

            .toolbar__right
                lx-dropdown(position="right", over-toggle="true")
                    button.btn.btn--white.btn--l.btn--icon(lx-ripple, lx-dropdown-toggle)
                        i.mdi.mdi-dots-vertical
                    lx-dropdown-menu
                        ul
                            li
                                a.dropdown-link.dropdown-link--is-header Tools
                            li
                                a(href="").dropdown-link
                                    i.mdi.mdi-key
                                    | &nbsp; Change password
                            li
                                a(href="../../connection/Connection.html").dropdown-link
                                    i.mdi.mdi-settings-box
                                    | &nbsp; Connection setting
                            li.dropdown-divider
                            li
                                a(ng-click="exitApplication()").dropdown-link
                                    i.mdi.mdi-power
                                    | &nbsp; Exit program

        div(flex-container="row", flex-gutter="24")
            div(flex-item="3")
                .card(style="min-height: 538px;")
                    ul.list(class="mt++")
                        li.list-row.list-row--has-separator
                            .list-row__primary
                                a(href="../pages/Index.html")
                                    i.icon.icon--l.icon--teal.icon--circled.mdi.mdi-home
                            .list-row__content
                                span.display-block Home
                                span.display-block.fs-body-1.tc-black-2 หน้าหลัก

                        li.list-row.list-row--has-separator
                            .list-row__primary
                                a(href="../orders/Orders.html")
                                    i.icon.icon--l.icon--green.icon--circled.mdi.mdi-cart-outline
                            .list-row__content
                                span.display-block Orders
                                span.display-block.fs-body-1.tc-black-2 เบิกเวชภัณฑ์

                        li.list-row.list-row--has-separator
                            .list-row__primary
                                a
                                    i.icon.icon--l.icon--deep-purple.icon--circled.mdi.mdi-wallet-membership
                            .list-row__content
                                span.display-block Stock Card
                                span.display-block.fs-body-1.tc-black-2 ข้อมูลสต๊อกการ์ด

                        li.list-row.list-row--has-separator
                            .list-row__primary
                                a
                                    i.icon.icon--l.icon--purple.icon--circled.mdi.mdi-printer
                            .list-row__content
                                span.display-block Reports
                                span.display-block.fs-body-1.tc-black-2 ระบบรายงาน
                        li.list-row.list-row--has-primary.list-row--has-separator
                            .list-row__primary
                                a(href="../products/Products.html")
                                    i.icon.icon--l.icon--pink.icon--circled.mdi.mdi-shopping
                            .list-row__content
                                span.display-block Products
                                span.display-block.fs-body-1.tc-black-2 ข้อมูลเวชภัณฑ์
                        li.list-row.list-row--has-separator
                            .list-row__primary
                                a(href="../imports/Imports.html")
                                    i.icon.icon--l.icon--indigo.icon--circled.mdi.mdi-cloud-download
                            .list-row__content
                                span.display-block Import Data
                                span.display-block.fs-body-1.tc-black-2 นำเข้าข้อมูล

            div(flex-item="9")
                div(class="card", style="min-height: 538px;")
                    div(class="p+")
                        block content

        script(src="../../../vendor/jquery/dist/jquery.min.js")
        script(src="../../../vendor/velocity/velocity.min.js")
        script(src="../../../vendor/moment/min/moment-with-locales.min.js")
        script(src="../../../vendor/angular/angular.js")
        script(src="../../../vendor/angular-route/angular-route.js")
        script(src="../../../vendor/lumx/dist/lumx.min.js")

        script(src="../../app.js")
        script(src="../../common/Common.js")
        script(src="../../common/Utils.js")
        script(src="../../common/Filters.js")
        //- Application scripts
        block scripts
