doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title eStock (Drug inventory system for PCU)

        link(href="../../vendor/lumx/dist/css/lumx.css", rel="stylesheet")
        link(href="../css/app.css", rel="stylesheet")

    body(ng-app="App")

        .grid
            .grid__col12
                .toolbar.bgc-teal-500(ng-controller="ToolbarController")
                    .toolbar__left.mr
                        button.btn.btn--l.btn--white.btn--icon(lx-ripple)
                            i.mdi.mdi--shopping-cart
                    span(style="color: #fff;").toolbar__label.fs-title
                        | Drug inventory system

                    .toolbar__right
                        lx-dropdown(position="right", from-top)
                            button.btn.btn--white.btn--l.btn--icon(lx-ripple, lx-dropdown-toggle)
                                i.mdi.mdi--more-vert
                            lx-dropdown-menu
                                ul
                                    li
                                        a.dropdown-link.dropdown-link--is-header Tools
                                    li
                                        a(href="").dropdown-link Change password
                                    li
                                        a(href="../connection/Connection.html").dropdown-link Connection setting
                                    li.dropdown-divider
                                    li
                                        a(ng-click="exitApplication()").dropdown-link Exit program

                        button.btn.btn--white.btn--l.btn--icon(lx-ripple, ng-click="reloadApp()")
                            i.mdi.mdi--loop

                        button.btn.btn--white.btn--l.btn--icon(lx-ripple, ng-click="showDevTools()")
                            i.mdi.mdi--bug-report

                        button.btn.btn--white.btn--l.btn--icon(lx-ripple, ng-click="minimizedWindow()")
                            i.mdi.mdi--expand-more
            .grid
                .grid__col3
                    ul.list
                        li.list-row.list-row--has-primary.list-row--has-separator
                            .list-primary-tile
                                a
                                    i.icon.icon--l.icon--teal.icon--circled.mdi.mdi--home
                            .list-content-tile.list-content-tile--two-lines
                                strong Home
                                span หน้าหลัก

                        li.list-row.list-row--has-primary.list-row--has-separator
                            .list-primary-tile
                                a(href="../orders/Orders.html")
                                    i.icon.icon--l.icon--green.icon--circled.mdi.mdi--add-shopping-cart
                            .list-content-tile.list-content-tile--two-lines
                                strong Orders
                                span เบิกเวชภัณฑ์

                        li.list-row.list-row--has-primary.list-row--has-separator
                            .list-primary-tile
                                a
                                    i.icon.icon--l.icon--deep-purple.icon--circled.mdi.mdi--account-balance-wallet
                            .list-content-tile.list-content-tile--two-lines
                                strong Stock Card
                                span ข้อมูลสต๊อกการ์ด

                        li.list-row.list-row--has-primary.list-row--has-separator
                            .list-primary-tile
                                a
                                    i.icon.icon--l.icon--purple.icon--circled.mdi.mdi--print
                            .list-content-tile.list-content-tile--two-lines
                                strong Reports
                                span ระบบรายงาน
                        li.list-row.list-row--has-primary.list-row--has-separator
                            .list-primary-tile
                                a
                                    i.icon.icon--l.icon--pink.icon--circled.mdi.mdi--shop-two
                            .list-content-tile.list-content-tile--two-lines
                                strong Products
                                span ข้อมูลเวชภัณฑ์

                        li.list-row.list-row--has-primary.list-row--has-separator
                            .list-primary-tile
                                a(href="../setting/Setting.html")
                                    i.icon.icon--l.icon--red.icon--circled.mdi.mdi--settings
                            .list-content-tile.list-content-tile--two-lines
                                strong Settings
                                span กำหนดค่าระบบ
                        li.list-row.list-row--has-primary.list-row--has-separator
                            .list-primary-tile
                                a(href="../imports/Imports.html")
                                    i.icon.icon--l.icon--indigo.icon--circled.mdi.mdi--cloud-download
                            .list-content-tile.list-content-tile--two-lines
                                strong Import Data
                                span นำเข้าข้อมูล

                .grid__col9
                    .card
                        .card__content
                            block content

        script(src="../../vendor/jquery/dist/jquery.min.js")
        script(src="../../vendor/velocity/velocity.min.js")
        script(src="../../vendor/moment/min/moment-with-locales.min.js")
        script(src="../../vendor/angular/angular.js")
        script(src="../../vendor/lumx/dist/js/lumx.js")

        script(src="../app.js")
        script(src="../common/Common.js")
        script(src="../common/Utils.js")
        script(src="../common/Filters.js")
        //- Application scripts
        block scripts


